
.fz-40 {
  font-size: 40px;
}

.fz-14 {
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.is-flex {
  display:flex;
}

.al-center {
  align-items: center;
}

.ju-center {
  justify-content: center;
}

.ml-20 {
  margin-left: 20px;
}

.qr-code {
  margin-top: 70px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.schoolName div{
  font-family: CenturB;
}

.certificat-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.certificat-wrapper .global {
  width: 515px;
  display: flex;
  justify-content: center;
  border: rgb(243, 141, 141) solid 3px;
  height: 100%;
  background-color: #fafaf0;
}

.certificat-wrapper .right {
  width: 100%;
  background: url(../images/background/degree-bg1.svg) no-repeat;
  background-size: 98% 100%;
  background-position-x: center;
  padding: 16px;
  border: rgb(243, 141, 141) solid 3px;
  margin: 3px;
}

.certificat-wrapper .right .republic {
  font-size: 18px;
  text-transform: uppercase;
  text-align-last: center;
}

.certificat-wrapper .right .republic-sub {
  font-size: 17px;
  text-transform: capitalize;
  padding-top: 10px;
  text-align-last: center;
}

.certificat-wrapper .right .logo {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.certificat-wrapper .right .logo img {
  width: 50px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
img {
  max-width: 100%;
  height: auto;
}
.certificat-wrapper .right .president {
  font-size: 24px;
  font-family: TimesB, serif;
  text-transform: uppercase;
  margin: 0 0 0 0;
  width: 100%;
}
.certificat-wrapper .right .confer {
  font-size: 24px;
  margin: 8px 0 0 0;
  width: 100%;
}
.certificat-wrapper .right .degree-title {
  font-family: CenturB;
  font-size: 18px;
  text-transform: uppercase;
  color: #af0a04;
  width: 100%;
  text-align-last: center;
}

.mt45 {
  margin-top: 45px;
}
.certificat-wrapper .right .major {
  font-size: 32px;
  text-transform: uppercase;
  font-family: TimesB, serif;
  width: 100%;
}
.certificat-wrapper .right .list {
  width: 100%;
  margin-left: 30%;
  margin-top: 40px;
}
.certificat-wrapper .right .list .line {
  width: 100%;
  display: flex;
  font-family: Aptima;
  font-size: 1.1rem;
  align-items: center;
  margin-top: 5px;
}
.certificat-wrapper .right .list .line .labels {
  width: 25%;
}
.certificat-wrapper .right .list .line .name {
  font-family: MangTre;
  font-size: 18px;
  margin: 0 0 0 4px;
  width: 75%;
  font-weight: bold;
}
.certificat-wrapper .right .list .line .name span {
  font-family: TimesB, serif;
  font-size: 20px;
}
.certificat-wrapper .right .list .line .details {
  font-family: TimesR, serif;
  margin: 0 0 0 4px;
  /* width: 75%; */
  font-weight: bold;
}
.certificat-wrapper .right .date-town {
  font-family: AptimaI;
  font-size: 1.1rem;
  margin: 100px 0 0 0;
  text-align: right;
  width: 100%;
  position: relative;
  left: 20px;
}
.certificat-wrapper .right .date-town .small-sign {
  width: 45px;
}
.certificat-wrapper .right .stamp {
  width: 60%;
  position: relative;
  top: -20px;
  margin: 0 0 0 40%;
}
.certificat-wrapper .right .stamp .top {
  font-family: TimesB, serif;
  font-size: 1.7rem;
  position: relative;
  top: 30px;
}
.certificat-wrapper .right .stamp .stamp-img1 {
  position: relative;
  left: 20px;
  width: 280px;
}
.certificat-wrapper .right .stamp .president {
  font-size: 1.7rem;
  position: relative;
}
.certificat-wrapper .right .president {
  font-size: 24px;
  font-family: TimesB, serif;
  text-transform: uppercase;
  margin: 0 0 0 0;
  width: 100%;
}

.certificat-wrapper .right .reg {
  font-family: Aptima;
  text-align: left;
  margin: 40px 0 0 0;
  position: absolute;
  bottom: 40px;
  font-size: 16px;
}
.certificat-wrapper .right .reg .line1 span {
  font-family: Rubber;
  color: #de0c04;
}

.main-nav {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  z-index: 8000;
  width: 90px;
  display: flex;
  align-items: flex-end;
  position: fixed;
  background: #fff;
  padding: 0;
  height: 100%;
  right: 0;
  top: 0;
  box-shadow: -4px 0 10px rgb(0 0 0 / 10%);
}

.closed-d {
  right: -100% !important;
  transition: all 0.2s;
  transition-delay: 0.2s;
}

.h-100 {
  height: 100vh;
}
